[user]
	name = Kyle Ross
	email = kylejamesross@gmail.com
	username = kylejamesross

[core]
	editor = vim

[alias]
	co = checkout
	b = branch
	lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	ac="!git add -A && git commit -m"
[pull]
    rebase = false
