plugin/packer_compiled.lua

tmp/neovim/
vim/.vim/pack/general/start/ctrlp
ripgrep.deb
.config/.config/nvim/plugin

.config/.config/awesome/awesome-buttons/
.config/.config/awesome/awesome-wm-widgets/
zsh/feed-access-token
.local/.local/share
.local/.local/state/nvim
external/uld
.config/.config/lazygit/state.yml
.config/.config/awesome/vicious/