* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 900;
    font-size: 1rem;
}

window#waybar {
    background: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
    background: blue
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
}

#workspaces button {
    margin-top: 10px;
    padding: 10px;
    background: rgba(34, 33, 44, 0.7);
    color: #fff;
}
#workspaces button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#workspaces button:hover {
    background: rgba(34, 33, 44, 0.9);
}

#workspaces button.focused {
    /* background-color: #64727D; */
    /* box-shadow: inset 0 -3px #ffffff; */
    background: rgba(34, 33, 44, 0.6);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd, #custom-arch-logo {
    margin-top: 10px;
    padding: 10px;
    background: rgba(34, 33, 44, 0.7);
    color: #fff;
}


#workspaces {
    margin: 0;
}

#window {
    margin: 10px 10px 0 10px;
    padding: 10px;
    background: rgba(34, 33, 44, 0.7);
    border-radius: 10px;
    min-width: 100px;
}

.modules-left > widget:first-child  {
    margin-left: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-arch-logo {
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #1793d0;
}

#clock {
    margin-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ff80bf;
}

#battery {
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #8aff80;
}

#memory {
    color: #ff9580;
}

#disk {
    color: #ffff80;
}

#backlight {
}

#network {
    color: #80ffea;
}

#network.disconnected {
}

#pulseaudio {
    color: #9580ff;
}
#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber {
    color: #000000;
}

#wireplumber.muted {
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
